CONFIG_ARM=y
# CONFIG_ARM64_CRC32 is not set
CONFIG_ARCH_BHYVE=y
CONFIG_DEFAULT_DEVICE_TREE="bhyve"
CONFIG_SYS_LOAD_ADDR=0x100000000
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
# CONFIG_CMD_BOOTEFI_HELLO is not set
CONFIG_CMD_BOOTEFI_SELFTEST=y
CONFIG_CMD_DM=y
CONFIG_CMD_PCI=y
CONFIG_CMD_HVC=y
CONFIG_OF_CONTROL=y
CONFIG_OF_BOARD=y
CONFIG_BLK=y
# CONFIG_MMC is not set
CONFIG_DM_ETH=y
CONFIG_PCI=y
CONFIG_PCIE_ECAM_GENERIC=y
CONFIG_CONS_INDEX=0
CONFIG_PL011_SERIAL=y
CONFIG_SYSRESET=y
CONFIG_SYSRESET_PSCI=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
# CONFIG_FAT_WRITE is not set
